{{#unless batch}}
    {{#if queue.length}}
        <div class="file-list">
            {{#each item in queue}}
                {{view queueItemViewClass contentBinding="item"}}
            {{/each}}
        </div>
    {{/if}}
{{/unless}}

<div {{bindAttr class=":upload-button uploadButtonIsVisible::hidden"}}>
    <div class="file-uploader-input-parent">
        {{#if buttonIcon}}
            <div class="icon">
                {{svgb buttonIcon}}
            </div>
        {{/if}}
        <button {{bindAttr class=":button buttonStyle buttonSize"}}>{{buttonText}}</button>
    </div>
    {{#if allowDrag}}
        <div class="drag-tip">{{dragTip}}</div>
    {{/if}}
    <div class="clear"></div>
</div>