<div class="icon">
    {{#if isFailed}}
        {{bb-tool icon="icons/exclamation.svg-red"}}
    {{else}}
        {{progress-circle progress=progress}}
    {{/if}}
</div>

<div class="filename">
    {{file.name}} ({{view.formattedFileSize}})
    {{#if isFailed}}
        <div class="error">
            {{error}}
        </div>
    {{/if}}
</div>

<div class="cancel">
    {{bb-tool icon="icons/trashcan" action="abort" target=item tipT="ember_file_uploader.cancel_upload"}}
</div>
